body {
  background-color: #dde7dc;
  font-family: helvetica, arial, sans-serif;
}

a {
  text-decoration: none;
  color: #417d95;
}

h1, h2 , h3 {
  margin: 0;
}

#container {
  background-color: #c1dee2;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#header {
  background-color: #c1dee2;
  color: #417d95;
  text-align: center;
  padding: 10px;
}

#content {
  padding: 10px;
}

#nav {
  width: 180px;
  float: left;
}

#nav ul {
  list-style-type: none;
  padding: 0;
}

#nav .selected {
  font-weight: bold;
}

#main {
  width: 600px;
  float: right;
}

#footer {
  clear: both;
  padding: 10px;
  background-color: #234a56;
  color: #c1dee2;
  text-align: right;
}
